// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  #dc5945;

// ----------------------------------------------------------------------------
// Widget-Email styles
// ----------------------------------------------------------------------------
.widget-email {


	#from {
	  position: absolute;
	  left : 220px;
	  top  : 105px;
	}

	#reply {
	  position: absolute;
	  left : 220px;
	  top  : 170px;
	}

	#message {
	  position: absolute;
	  left : 20px;
	  top  : 70px;
	}

	form {
	  background: rgba(0,0,0,0.1);
	}

	input, textarea {
	  font    : .9em/1.5em "handwriting", sans-serif;
	  border  : none;
	  margin  : 0;
	  width   : 240px;
	  display : block;
	  padding : 0px 5px 0px 5px;
	  margin  : 10px 0 0 -10px;
	  width   : 170px;
	  height  : 137px;
	  border-radius: 10px;
	  resize  : none;
	  overflow: auto;
	  background: rgba(0,0,0,0.1);
	}

	input:focus, textarea:focus {
	  background   : rgba(0,0,0,0.2);
	  outline      : none;
	}

	input {
	    height: 2.5em; /* for IE */
	    vertical-align: middle; /* This is optional but it makes legacy IEs look better */
	}

	button {
	  position     : absolute;
	  left         : 260px;
	  top          : 90px;

	  padding      : 5px;

	  font         : bold .6em sans-serif;
	  border       : 2px solid #333;
	  border-radius: 5px;
	  background   : none;

	  cursor       : pointer;

	-webkit-transform: rotate(-4.5deg);
	   -moz-transform: rotate(-4.5deg);
	    -ms-transform: rotate(-4.5deg);
	     -o-transform: rotate(-4.5deg);
	        transform: rotate(-4.5deg);
	}

	button:after {
	  content: " >>>";
	}

	button:hover,
	button:focus {
	  outline   : none;
	  background: #000;
	  color   : #FFF;
	}




}
